.card {
  background-color: #1a1d28 !important;
  margin-top: 10px;
}

.dropdown-toggle.btn {
  width: 100%;
  text-align: start;
}

.imageButton {
  margin-right: 40px;
  background-color: #22559c !important;
  border: white solid 1px !important;
}

.deleteButton {
  background-color: rgb(206, 49, 80) !important;
  border: white solid 1px !important;
}

.addCard {
  background-color: goldenrod !important;
  border: white solid 1px !important;
  color: white;
}

.createButton {
  width: 150px !important;
  height: 50px;
  background-color: #552e5a !important;
  border: 1px white solid !important;
  margin: 20px;
}

.align-items-center {
  justify-content: center;
}

.align-items-left {
  justify-content: left;
}

.createCard {
  margin-left: 20px;
  margin-right: 20px;
}

.createCardSet {
  display: grid;
  margin-bottom: 10px;
  justify-content: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
}

/* .createCardSet {
    color: white;
}  */

/* .imageLink {
  width: 150px !important;
} */

.float-end {
  margin-right: 20px;
  background-color: goldenrod !important;
}

.returnButton {
  width: 150px !important;
  height: 50px;
  background-color: #552e5a !important;
  border: 1px white solid !important;
  margin: 20px;
}

.nav-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}