 .card {
    background-color: #1a1d28;
    margin-top: 10px
}

 .imageButton {
    margin-right: 40px;
    background-color: #22559c;
    border: white solid 1px;
}

.deleteButton {
    background-color: rgb(206, 49, 80);
    border: white solid 1px;
}

.addCard {
    background-color: goldenrod;
    border: white solid 1px;
    color: white;
}

.createButton {
    width: 150px;
    height: 50px;
    background-color: #552e5a;
    border: 1px white solid;
}

.align-items-center {
    justify-content: center;
}

.align-items-left {
    justify-content: left;
 
}

.createCard {
    margin-left: 20px;
    margin-right: 20px;
}
.createCardSet {
    display: grid;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif ;
    font-weight: bold;
    font-style: italic;
}
/* .createCardSet {
    color: white;
}  */