.flashcardsNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin: auto;
    margin-top: 1rem;
}

.flashcardsNavigation .counter {
    margin-bottom: 0;
}

.flashcardsNavigation button,
.flashcardsNavigation button:disabled,
.flashcardsNavigation button:hover,
.flashcardsNavigation button:focus,
.flashcardsNavigation button:active:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.flashcardsNavigation button i {
    font-size: 2rem;
    color: #fff;
}

.flashcardsNavigation button:hover i {
    color: #ccc;
    transition: all .2s ease-in-out;
}