
.specialty-dropdown {
  margin: 10px;
}

.login {
  height: fit-content;
  /* width:  50vw;  */
  align-self: center;
  margin: auto;
  /* display: grid;
  justify-content: center;
  align-items: center; */
  /* display: flex; */
  border: 2px white solid;
 padding: 50px;
/* margin-left: 250px;
margin-right: 250px;  
 max-height: 60vh;
 max-width: 40vw; */

}

.dropdown-item {
  color: white;
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.specialty {
  font-size: 20px;
}

@media (min-width: 768px) {
  .login {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}