.specialty-dropdown {
  margin: 10px;
}

/* .bg-myBlack {
  background-color: rgb(153, 66, 31);
} */


.loginButton {
  display: grid;
  align-items: center;
}

.login {
  /* display: grid;
  justify-content: center;
  align-items: center; */
  border: 2px black solid;
 padding: 30px;
/* margin-left: 250px;
margin-right: 250px;  
 max-height: 60vh;
 max-width: 40vw; */

}