
.specialty-dropdown {
  margin: 10px;
}

.login {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: fit-content;
  /* width:  50vw;  */
  align-self: center;
  margin: auto;
  /* display: grid;
  justify-content: center;
  align-items: center; */
  /* display: flex; */
  border: 2px white solid;
 padding: 50px;
/* margin-left: 250px;
margin-right: 250px;  
 max-height: 60vh;
 max-width: 40vw; */

}

.dropdown-item {
  color: white;
}

.logo {
  height: 17vh;
  width: 17vw;
  /* align-self: center; */
}

.specialty {
  font-size: 20px;
}