.navbarHeader {
    margin-bottom: 10vh;
    border-bottom: 4px white solid;
    /* background-color: #282e3e !important; */
  }

   .text-link {
    color: black;
    text-decoration: inherit;

} ;

.adminUser {
  background-color: white !important;
}

.navbarUpdateLink {
  text-decoration: none;
  color: black;
}