.navbarHeader {
    margin-bottom: 10vh;
    padding: 0 16px;
    /* background-color: #282e3e !important; */
  }

   .text-link {
    color: black;
    text-decoration: inherit;

} ;

.adminUser {
  background-color: white !important;
}
