
.resetPassword {
    width:  50vw; 
    align-self: center;
    margin: auto;
}

.resetButton {
    margin-top: 50px;
    /* margin-left: 20px; */
    /* display: flex;
    justify-content: 'center';
    align-items: 'center'; */
}