
* {
  background-color: #1a1d28;
  color: white;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  margin-top: 20px;
}

body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
  background-color: #262626;
}
a {
  color: #210639;
}